Repository minipuft/catppuccin-starrynight, changes with the owners that .github/CODEOWNERS names for each.
All owners: @catppuccin/starrynight-maintainers, @catppuccin/starrynight-core-team, @catppuccin/starrynight-performance-team, @catppuccin/starrynight-visual-team, @catppuccin/starrynight-audio-team, @catppuccin/starrynight-graphics-team, @catppuccin/starrynight-styling-team, @catppuccin/color-maintainers, @catppuccin/starrynight-qa-team, @catppuccin/starrynight-devops-team, @catppuccin/starrynight-docs-team, @catppuccin/spicetify-team, @catppuccin/security-team

refactor: rename RedEnergyBurstSystem to HighEnergyEffectsController
  src-js/core/integration/SystemCoordinator.ts
  src-js/visual/effects/HighEnergyEffectsController.ts
  src-js/visual/integration/VisualSystemFacade.ts
  tsconfig.tsbuildinfo
Owners: @catppuccin/starrynight-core-team, @catppuccin/starrynight-visual-team, @catppuccin/starrynight-maintainers

test: update import path in RedEnergyBurstSystem test
  tests/unit/visual/RedEnergyBurstSystem.test.ts
Owners: @catppuccin/starrynight-qa-team

refactor: rename SoftGlowEffectsManager to GlowEffectsController
  src-js/core/integration/SystemCoordinator.ts
  src-js/visual/effects/GlowEffectsController.ts
  src-js/visual/integration/VisualSystemFacade.ts
  tests/unit/visual/SoftGlowEffectsManager.test.ts
  tsconfig.tsbuildinfo
Owners: @catppuccin/starrynight-core-team, @catppuccin/starrynight-visual-team, @catppuccin/starrynight-qa-team, @catppuccin/starrynight-maintainers

refactor: move DynamicCatppuccinStrategy to visual/color/ThemeColorController
  src-js/core/events/ColorEventOrchestrator.ts
  src-js/visual/color/ThemeColorController.ts
  src-js/visual/strategies/BackgroundStrategySelector.ts
  theme.js
  tsconfig.tsbuildinfo
Owners: @catppuccin/starrynight-core-team, @catppuccin/starrynight-visual-team, @catppuccin/starrynight-maintainers

refactor: complete Phase 2A - 4 high-value strategic renames
  src-js/core/webgl/WebGLSystemsIntegration.ts
  src-js/visual/background/WebGLRenderer.ts
  src-js/visual/backgrounds/FluidGradientBackgroundSystem.ts
  src-js/visual/backgrounds/WebGLGradientAdapter.ts
  src-js/visual/integration/GradientTransitionOrchestrator.ts
  src-js/visual/integration/VisualSystemFacade.ts
  src-js/visual/integration/Year3000IntegrationBridge.ts
  tsconfig.tsbuildinfo
Owners: @catppuccin/starrynight-core-team, @catppuccin/starrynight-visual-team, @catppuccin/starrynight-graphics-team, @catppuccin/starrynight-maintainers

feat: complete Phase 2B - Directory consolidation moves
  src-js/audio/ColorHarmonyEngine.ts
  src-js/core/integration/NonVisualSystemFacade.ts
  src-js/core/integration/SidebarSystemsIntegration.ts
  src-js/theme.entry.ts
  src-js/visual/effects/GlowEffectsController.ts
  src-js/visual/effects/HighEnergyEffectsController.ts
  src-js/visual/effects/NaturalHarmonyEngine.ts
  src-js/visual/effects/UnifiedSidebarEffectsController.ts
  src-js/visual/integration/GradientBleedingOrchestrator.ts
  src-js/visual/integration/VisualSystemFacade.ts
  src-js/visual/music/MusicSyncVisualEffects.ts
  src-js/visual/music/integration/MusicEmotionAnalyzer.ts
  src-js/visual/music/ui/HolographicUISystem.ts
  src-js/visual/ui/Aberration/AberrationCanvas.ts
  src-js/visual/ui/Aberration/AberrationManager.ts
  src-js/visual/ui/Aberration/AberrationVisualSystem.ts
  src-js/visual/ui/AudioVisualController.ts
  src-js/visual/ui/InteractionTrackingSystem.ts
  src-js/visual/ui/IridescentShimmerEffectsSystem.ts
  src-js/visual/ui/MorphingPatternLibrary.ts
  src-js/visual/ui/RightSidebarEffectsEnhanced.ts
  src-js/visual/ui/RightSidebarEffectsUnified.ts
  src-js/visual/ui/RightSidebarVisualEffects.ts
  src-js/visual/ui/SidebarInteractiveFlowSystem.ts
  src-js/visual/ui/SidebarPerformanceCoordinator.ts
  src-js/visual/ui/SidebarVisualEffectsSystem.ts
  src-js/visual/ui/SpotifyUIApplicationSystem.ts
  src-js/visual/ui/WhiteLayerDiagnosticSystem.ts
  src-js/visual/ui/prismaticScrollSheen.ts
  tests/integration/visual-effects-integration.test.ts
  tests/unit/visual/RedEnergyBurstSystem.test.ts
  tests/unit/visual/SoftGlowEffectsManager.test.ts
  theme.js
  tsconfig.tsbuildinfo
Owners: @catppuccin/starrynight-audio-team, @catppuccin/starrynight-core-team, @catppuccin/starrynight-maintainers, @catppuccin/starrynight-visual-team, @catppuccin/starrynight-qa-team

fix: resolve test import paths after directory consolidation
  tests/integration/SidebarConsciousnessEcho.spec.ts
  tests/unit/core/SidebarPerformanceCoordinator.test.ts
  tests/unit/core/UnifiedSystemIntegrationFacade.test.ts
  tests/unit/visual/VisualIntegrationBridge.test.ts
  tests/unit/visual/WebGLGradientBackgroundSystem.test.ts
  tests/unit/visual/WebGLGradientWrapperPerformance.test.ts
Owners: @catppuccin/starrynight-qa-team

fix: correct final test mock import path
  tests/unit/visual/VisualIntegrationBridge.test.ts
Owners: @catppuccin/starrynight-qa-team

refactor: complete UI Phase 1 - rename files and core interfaces
  logs/.983059ace52a2f43236c77d7db2c846835f6af7c-audit.json
  src-js/theme.entry.ts
  src-js/ui/interactions/DragPreviewManager.ts
  src-js/ui/interactions/PlaylistQuickAddMenu.ts
  src-js/ui/managers/Card3DManager.ts
  src-js/ui/managers/GlassmorphismManager.ts
  theme.js
  tsconfig.tsbuildinfo
  user.css
Owners: @catppuccin/starrynight-maintainers, @catppuccin/starrynight-styling-team

refactor: update CSS variable controller references and enhance documentation
  .gitignore
  src-js/core/integration/NonVisualSystemFacade.ts
  src-js/core/integration/SystemCoordinator.ts
  src-js/core/lifecycle/year3000System.ts
  src-js/theme.entry.ts
  src-js/visual/base/ColorFieldManager.ts
  src-js/visual/coordination/VisualSystemCoordinator.ts
  src-js/visual/effects/HeaderVisualEffectsController.ts
  src-js/visual/ui/AudioVisualController.ts
  tests/integration/CoreOrchestration.test.ts
  tests/integration/VisualEffectsIntegration.test.ts
  tests/setup/jest.setup.ts
  tests/unit/visual/VisualIntegrationBridge.test.ts
  theme.js
  tsconfig.tsbuildinfo
Owners: @catppuccin/starrynight-maintainers, @catppuccin/starrynight-core-team, @catppuccin/starrynight-visual-team, @catppuccin/starrynight-qa-team

feat: complete Phase 4 SCSS consolidation - aggressive legacy cleanup
  plans/scss-consolidation-phase-4-6.md
  src/archived-legacy/README.md
  src/archived-legacy/migration-log.md
  src/archived-legacy/music-sync/audio/_music-reactive-effects.scss
  src/archived-legacy/music-sync/audio/_visual-effects-variables.scss
  src/archived-legacy/music-sync/color/_emotional-temperature-colors.scss
  src/archived-legacy/music-sync/color/_genre-specific-presets.scss
  src/archived-legacy/music-sync/color/_oklab-animations.scss
  src/archived-legacy/music-sync/color/_perceptual-blending.scss
  src/archived-legacy/music-sync/visual/_ambient-background-effects.scss
  src/archived-legacy/music-sync/visual/_dramatic_visual_theme.scss
  src/archived-legacy/music-sync/visual/_neon-glow-theme.scss
  src/core/_main.scss
  src/features/visual-effects/_crystalline_glassmorphism_LEGACY.scss
  src/features/visual-effects/_crystalline_glassmorphism_UNIFIED.scss
  src/features/visual-effects/_fluid-gradient-base_LEGACY.scss
  src/features/visual-effects/_soft-nature-effects_LEGACY.scss
Owners: @catppuccin/starrynight-docs-team, @catppuccin/starrynight-styling-team

feat: complete Phase 4.5 strategic SCSS consolidation
  plans/scss-consolidation-phase-4-6.md
  src/components/_interaction_states.scss
  src/components/_sn_gradient_demo.scss
  src/core/_design-tokens.scss
  src/core/_main.scss
  src/features/interactions/_microinteractions.scss
  src/fixes/_white_layer_fixes.scss
  src/sidebar/_sidebar_accessibility.scss
  src/sidebar/_sidebar_animation_flows.scss
  src/sidebar/_sidebar_interactive.scss
  src/sidebar/_sidebar_performance_modes.scss
  src/sidebar/_sidebar_positioning_system.scss
  src/sidebar/_sidebar_smooth_transitions.scss
  user.css
Owners: @catppuccin/starrynight-docs-team, @catppuccin/starrynight-styling-team

perf: remove bilateral spatial depth - performance optimization
  plans/scss-consolidation-phase-4-6.md
  src/core/_main.scss
  src/sidebar/_sidebar_interactive.scss
  user.css
Owners: @catppuccin/starrynight-docs-team, @catppuccin/starrynight-styling-team

refactor: rename src/scss to src/utilities for clarity
  app.scss
  src/utilities/_quick_add_radial.scss
Owners: @catppuccin/starrynight-styling-team

refactor: remove metaphorical mixin compatibility layer
  plans/mixin-architecture-optimization.md
  plans/performance-audit-ux-impact-analysis.md
  src/components/_sn_enhanced_cards.scss
  src/components/_sn_glyph_variables.scss
  src/core/_main.scss
  src/core/_mixin-compatibility.scss
  src/core/_mixins.scss
  src/core/_sn_typography.scss
  src/core/_variable-compatibility.scss
  src/core/_variables.scss
  src/design-tokens/README.md
  src/features/backgrounds/_cosmic_effects.scss
  src/features/visual-effects/_advanced_layer.scss
  src/features/visual-effects/_living_gradients.scss
  src/layout/_action_bar_enhanced.scss
  src/layout/_navbar.scss
  src/layout/_top_bar.scss
  user.css
Owners: @catppuccin/starrynight-docs-team, @catppuccin/starrynight-styling-team, @catppuccin/color-maintainers

feat(variables): Phase 6.1-6.3 SCSS variable modernization foundation
  app.scss
  plans/scss-variable-modernization.md
  plans/variable-inventory.md
  src/core/_main.scss
  src/core/_unified-effects-engine.scss
  src/core/_variables.scss
Owners: @catppuccin/starrynight-styling-team, @catppuccin/starrynight-docs-team, @catppuccin/color-maintainers

feat(variables): Phase 6.4 feature file variable migration
  plans/deferred-files-analysis.md
  plans/scss-variable-modernization.md
  src/features/backgrounds/_particle_field.scss
  src/features/visual-effects/_crystalline_glassmorphism.scss
  src/features/visual-effects/_fluid-gradient-base.scss
Owners: @catppuccin/starrynight-docs-team, @catppuccin/starrynight-styling-team

feat(phase-7): selective integration - archive experimental effects, extract Year3000 fluid morphing
  plans/archive/experimental/README.md
  plans/archive/experimental/_advanced_layer.scss
  plans/archive/experimental/_shape_transitions.scss
  plans/deferred-files-analysis.md
  src/core/_main.scss
  src/features/animations/_fluid_morphing.scss
Owners: @catppuccin/starrynight-docs-team, @catppuccin/starrynight-maintainers, @catppuccin/starrynight-styling-team

chore: consolidate remaining Phase 6 changes - archive legacy plans, update builds
  plans/archive/mixin-architecture-optimization.md
  plans/archive/naming-architecture-consolidation.md
  plans/archive/scss-consolidation-phase-4-6.md
  plans/archive/scss-consolidation-strategy.md
  plans/archive/typography-removal-notes.md
  src-js/core/animation/EnhancedMasterAnimationCoordinator.ts
  src-js/visual/ui/SidebarVisualEffectsSystem.ts
  src/components/_sn_enhanced_cards.scss
  src/components/_track_list_enhanced.scss
  src/core/_kinetic-animations.scss
  src/core/_mixins.scss
  src/core/_motion-tokens.scss
  src/core/_sn_architecture_documentation.scss
  src/core/_sn_typography.scss
  src/core/_variable-compatibility.scss
  src/core/_visual-tokens.scss
  src/design-tokens/README.md
  src/design-tokens/_motion-tokens.scss
  src/design-tokens/_visual-tokens.scss
  src/design-tokens/tokens.scss
  src/features/animations/_shape_transitions.scss
  src/features/backgrounds/_ambient_effects.scss
  src/features/backgrounds/_cosmic_effects.scss
  src/features/backgrounds/_depth_layers.scss
  src/features/backgrounds/_particle_field.scss
  src/features/music-sync/ui/_visual-effects-main.scss
  src/features/system/_visual_hierarchy.scss
  src/features/visual-effects/_advanced_layer.scss
  src/features/visual-effects/_living_gradients.scss
  src/fixes/_white_layer_fixes.scss
  src/layout/_main_view_container.scss
  src/layout/_sn_header_actionBar.scss
  src/layout/_top_bar.scss
  src/sidebar/_sidebar_interactive.scss
  src/systems/_sn_advanced_visual_effects.scss
  src/systems/_sn_behavioral_prediction.scss
  src/systems/_sn_performance_optimization.scss
  theme.js
  tsconfig.tsbuildinfo
  user.css
Owners: @catppuccin/starrynight-docs-team, @catppuccin/starrynight-visual-team, @catppuccin/starrynight-styling-team, @catppuccin/starrynight-maintainers

docs(phase-6.5): complete SCSS variable modernization initiative
  plans/scss-variable-modernization.md
  src/core/_main.scss
  src/core/_sn_legacy_support.scss
  src/core/_variable-compatibility.scss
  src/design-tokens/_motion-tokens.scss
  src/design-tokens/_visual-tokens.scss
  src/features/animations/_fluid_morphing.scss
  src/features/backgrounds/_particle_field.scss
  src/features/visual-effects/_crystalline_glassmorphism.scss
  src/features/visual-effects/_fluid-gradient-base.scss
  src/features/visual-effects/_red-energy-burst-effects.scss
  src/features/visual-effects/_soft-glow-effects.scss
  src/features/visual-effects/_soft-nature-effects.scss
  theme.js
  user.css
Owners: @catppuccin/starrynight-docs-team, @catppuccin/starrynight-styling-team, @catppuccin/starrynight-maintainers

feat(phase-8): integrate Year3000 fluid morphing visual effects
  plans/archive/scss-variable-modernization.md
  plans/deferred-files-analysis.md
  plans/phase-8-fluid-morphing-integration.md
  src/components/_sn_enhanced_cards.scss
  src/features/interactions/_microinteractions.scss
  theme.js
  user.css
Owners: @catppuccin/starrynight-docs-team, @catppuccin/starrynight-styling-team, @catppuccin/starrynight-maintainers

perf(phase-2.5+3): complete CSS variable integration and comprehensive validation
  plans/animation-performance-systematic-fix.md
  src-js/visual/effects/GlowEffectsController.ts
  src-js/visual/strategies/DepthLayeredStrategy.ts
Owners: @catppuccin/starrynight-docs-team, @catppuccin/starrynight-visual-team

perf(oklab): improve color variation quality and add track memoization
  src-js/audio/ColorHarmonyEngine.ts
Owners: @catppuccin/starrynight-audio-team

feat(phase-8.1): consolidate depth system into unified architecture
  plans/archive/cancelled/index.md
  plans/archive/color-intensity-upper-bounds-implementation.md
  plans/archive/completed/index.md
  plans/archive/experimental/README.md
  plans/archive/experimental/_advanced_layer.scss
  plans/archive/experimental/_shape_transitions.scss
  plans/archive/mixin-architecture-optimization.md
  plans/archive/naming-architecture-consolidation.md
  plans/archive/phase-8.1-depth-consolidation/README.md
  plans/archive/phase-8.1-depth-consolidation/_perspective_depth_layers.scss
  plans/archive/phase-8.1-depth-consolidation/_visual_hierarchy.scss
  plans/archive/phase-8.1-depth-consolidation/_z_index_management.scss
  plans/archive/scss-consolidation-phase-4-6.md
  plans/archive/scss-consolidation-strategy.md
  plans/archive/scss-variable-modernization.md
  plans/archive/strategic-alignment-plan.md
  plans/archive/superseded/index.md
  plans/archive/typography-removal-notes.md
  plans/depth-system-consolidation.md
  src/core/_main.scss
  src/features/animations/_shelf_breathing_animation.scss
  src/features/backgrounds/_content_protection_system.scss
  src/features/backgrounds/_cosmic_depth_system.scss
  src/features/backgrounds/_perspective_depth_layers.scss
  src/features/interactions/_animated_icons.scss
  src/layout/_nebula_gradient_system.scss
  src/sidebar/_navbar.scss
  src/sidebar/_right_sidebar.scss
Owners: @catppuccin/starrynight-docs-team, @catppuccin/starrynight-maintainers, @catppuccin/starrynight-styling-team

phase2(wave2): migrate beat sync glassmorphism to modern music tokens
  plans/phase-2-3-parallel-execution-plan.md
  src/features/visual-effects/_beat_sync_glassmorphism.scss
Owners: @catppuccin/starrynight-docs-team, @catppuccin/starrynight-styling-team

phase2(wave2): migrate action bar to modern music tokens
  plans/phase-2-3-parallel-execution-plan.md
  src/layout/_action_bar_unified.scss
Owners: @catppuccin/starrynight-docs-team, @catppuccin/starrynight-styling-team

phase2(wave2): migrate top bar to modern music tokens
  plans/phase-2-3-parallel-execution-plan.md
  src/layout/_top_bar.scss
Owners: @catppuccin/starrynight-docs-team, @catppuccin/starrynight-styling-team

phase2(wave2): migrate now playing widget to modern music tokens
  plans/phase-2-3-parallel-execution-plan.md
  src/components/_now_playing.scss
Owners: @catppuccin/starrynight-docs-team, @catppuccin/starrynight-styling-team

phase2(wave3): migrate particle animation system to modern music tokens
  plans/phase-2-3-parallel-execution-plan.md
  src/features/backgrounds/_particle_animation_system.scss
Owners: @catppuccin/starrynight-docs-team, @catppuccin/starrynight-styling-team

phase2(wave3): migrate cosmic depth system to modern music tokens
  plans/phase-2-3-parallel-execution-plan.md
  src/features/backgrounds/_cosmic_depth_system.scss
Owners: @catppuccin/starrynight-docs-team, @catppuccin/starrynight-styling-team

phase2(wave3): migrate fluid morphing to modern music tokens
  plans/phase-2-3-parallel-execution-plan.md
  src/features/animations/_fluid_morphing.scss
Owners: @catppuccin/starrynight-docs-team, @catppuccin/starrynight-styling-team

phase2(wave4): migrate microinteractions to modern music tokens
  plans/phase-2-3-parallel-execution-plan.md
  src/features/interactions/_microinteractions.scss
Owners: @catppuccin/starrynight-docs-team, @catppuccin/starrynight-styling-team

phase2(wave4): migrate CSS interactions to modern music tokens
  plans/phase-2-3-parallel-execution-plan.md
  src/features/interactions/_css_interactions.scss
Owners: @catppuccin/starrynight-docs-team, @catppuccin/starrynight-styling-team

phase2(wave4): complete text visual effects migration - Wave 4 DONE ✅
  plans/phase-2-3-parallel-execution-plan.md
  src/features/interactions/_text_visual_effects.scss
Owners: @catppuccin/starrynight-docs-team, @catppuccin/starrynight-styling-team

phase2(wave5): migrate enhanced cards to modern music tokens
  plans/phase-2-3-parallel-execution-plan.md
  src/components/_sn_enhanced_cards.scss
Owners: @catppuccin/starrynight-docs-team, @catppuccin/starrynight-styling-team

phase2(wave5): PHASE 2 COMPLETE! 🎉 Final grid navigation migration
  plans/phase-2-3-parallel-execution-plan.md
  src/features/backgrounds/_grid_navigation_mode.scss
Owners: @catppuccin/starrynight-docs-team, @catppuccin/starrynight-styling-team

phase2(navbar): 100% COMPLETE! 🎉 Final navbar migration post-Phase-3
  plans/phase-2-3-parallel-execution-plan.md
  src/sidebar/_navbar.scss
Owners: @catppuccin/starrynight-docs-team, @catppuccin/starrynight-styling-team

feat(oklab): complete Phase 4 & 5 - testing, validation, and documentation
  docs/MASTER_ARCHITECTURE_OVERVIEW.md
  docs/OKLAB_COLOR_MIGRATION_GUIDE.md
  docs/OKLAB_VARIABLE_NAMING_CONVENTION.md
  plans/complete-migration-summary.md
  plans/header-selector-consolidation.md
  plans/implementation-progress-tracker.md
  plans/migration-quick-reference.md
  plans/phase-2-3-parallel-execution-plan.md
  plans/phase-2-card-dom-watcher.md
  plans/phase-2.2-migration-plan.md
  plans/selector-fix-complete-summary.md
  plans/strategic-alignment-implementation.md
  src-js/audio/ColorHarmonyEngine.ts
  src-js/core/css/UnifiedVariableGroups.ts
  src-js/utils/color/OKLABColorProcessor.ts
  src/components/_sn_enhanced_cards.scss
  src/components/_track_list_enhanced.scss
  src/core/_design_tokens.scss
  src/core/_mixins.scss
  src/core/_sn_legacy_support.scss
  src/design-tokens/tokens.scss
  src/features/backgrounds/_cosmic_depth_system.scss
  src/features/music-sync/_genre_aware_ui.scss
  src/features/music-sync/_music_visualization.scss
  src/features/music-sync/ui/_audio-reactive-atmospherics.scss
  src/features/visual-effects/_crystalline_glassmorphism.scss
  src/features/visual-effects/_fluid-gradient-base.scss
  src/layout/_entity_header_enhanced.scss
  src/sidebar/_right_sidebar.scss
  src/sidebar/_sidebar_interactive.scss
  tests/performance/OKLABColorProcessing.perf.test.ts
  tests/unit/audio/ColorHarmonyEngine-CSSVariables.test.ts
  tests/unit/utils/OKLABColorProcessor.test.ts
  theme.js
  tsconfig.tsbuildinfo
  user.css
Owners: @catppuccin/starrynight-docs-team, @catppuccin/starrynight-audio-team, @catppuccin/starrynight-core-team, @catppuccin/starrynight-maintainers, @catppuccin/starrynight-styling-team, @catppuccin/starrynight-qa-team

feat(tokens): Phase 4 migration start - gradient token namespace consolidation
  docs/LEGACY_TOKEN_MIGRATION.md
  plans/design-tokens-audit.md
  plans/phase4-migration-tracker.md
  src/core/_interaction_mixins.scss
  src/core/_mixins.scss
  user.css
Owners: @catppuccin/starrynight-docs-team, @catppuccin/starrynight-styling-team

feat(tokens): complete Phase 4 migration - OKLAB and gradient token consolidation
  logs/.983059ace52a2f43236c77d7db2c846835f6af7c-audit.json
  plans/phase4-migration-tracker.md
  src/components/_sn_enhanced_cards.scss
  src/design-tokens/tokens.scss
  src/features/animations/_fluid_morphing.scss
  src/features/backgrounds/_particle_animation_system.scss
  src/features/interactions/_css_interactions.scss
  src/features/interactions/_text_visual_effects.scss
  src/features/visual-effects/_beat_sync_glassmorphism.scss
  src/features/visual-effects/_living_gradients.scss
  theme.js
  user.css
Owners: @catppuccin/starrynight-maintainers, @catppuccin/starrynight-docs-team, @catppuccin/starrynight-styling-team

.github/CODEOWNERS:

# =============================================================================
# ðŸŒŒ Catppuccin StarryNight - Code Ownership & Review Requirements
# =============================================================================
# This file defines code ownership and review requirements for the repository.
# GitHub will automatically request reviews from code owners when PRs are opened.

# =============================================================================
# GLOBAL OWNERSHIP
# =============================================================================
# All files require review unless overridden below
* @catppuccin/starrynight-maintainers

# =============================================================================
# CORE SYSTEM OWNERSHIP
# =============================================================================

# TypeScript Configuration and Build System
tsconfig.json @catppuccin/starrynight-maintainers
tsconfig.*.json @catppuccin/starrynight-maintainers
package.json @catppuccin/starrynight-maintainers
package-lock.json @catppuccin/starrynight-maintainers
jest.config.js @catppuccin/starrynight-maintainers
*.config.js @catppuccin/starrynight-maintainers

# Core System Architecture
src-js/core/ @catppuccin/starrynight-core-team
src-js/core/lifecycle/ @catppuccin/starrynight-core-team
src-js/core/performance/ @catppuccin/starrynight-performance-team
src-js/types/ @catppuccin/starrynight-core-team

# Performance-Critical Systems
src-js/core/performance/PerformanceAnalyzer.ts @catppuccin/starrynight-performance-team
src-js/core/performance/PerformanceBudgetManager.ts @catppuccin/starrynight-performance-team
src-js/core/performance/CSSVariableBatcher.ts @catppuccin/starrynight-performance-team
src-js/core/performance/OptimizedUnifiedCSSConsciousnessController.ts @catppuccin/starrynight-performance-team

# =============================================================================
# VISUAL SYSTEMS OWNERSHIP
# =============================================================================

# Visual System Architecture
src-js/visual/ @catppuccin/starrynight-visual-team
src-js/visual/base/ @catppuccin/starrynight-visual-team
src-js/visual/backgrounds/ @catppuccin/starrynight-visual-team

# Animation and Effects
src-js/visual/ui-effects/ @catppuccin/starrynight-visual-team
src-js/core/animation/ @catppuccin/starrynight-visual-team
src-js/visual/beat-sync/ @catppuccin/starrynight-audio-team @catppuccin/starrynight-visual-team

# WebGL and Graphics
src-js/visual/backgrounds/WebGL*.ts @catppuccin/starrynight-graphics-team
src-js/utils/graphics/ @catppuccin/starrynight-graphics-team
src-js/assets/shaders/ @catppuccin/starrynight-graphics-team

# =============================================================================
# AUDIO SYSTEMS OWNERSHIP
# =============================================================================

# Audio Analysis and Music Sync
src-js/audio/ @catppuccin/starrynight-audio-team
src-js/services/MusicSyncService.ts @catppuccin/starrynight-audio-team

# =============================================================================
# STYLING AND THEMING OWNERSHIP
# =============================================================================

# SCSS and CSS Architecture
src/ @catppuccin/starrynight-styling-team
src/core/ @catppuccin/starrynight-styling-team
src/design-tokens/ @catppuccin/starrynight-styling-team
app.scss @catppuccin/starrynight-styling-team
user.css @catppuccin/starrynight-styling-team

# Catppuccin Color Integration
src/core/_variables.scss @catppuccin/starrynight-styling-team @catppuccin/color-maintainers
color.ini @catppuccin/starrynight-styling-team @catppuccin/color-maintainers

# =============================================================================
# TESTING AND QUALITY ASSURANCE
# =============================================================================

# Test Files
tests/ @catppuccin/starrynight-qa-team
src-js/tests/ @catppuccin/starrynight-qa-team
*.test.ts @catppuccin/starrynight-qa-team
*.test.tsx @catppuccin/starrynight-qa-team
*.spec.ts @catppuccin/starrynight-qa-team

# Quality Assurance Tools
.github/workflows/ @catppuccin/starrynight-devops-team
.git/hooks/ @catppuccin/starrynight-devops-team
scripts/ @catppuccin/starrynight-devops-team

# =============================================================================
# DOCUMENTATION AND GUIDES
# =============================================================================

# Documentation
docs/ @catppuccin/starrynight-docs-team
README.md @catppuccin/starrynight-docs-team
CHANGELOG.md @catppuccin/starrynight-docs-team
*.md @catppuccin/starrynight-docs-team

# Developer Experience
CLAUDE.md @catppuccin/starrynight-maintainers
.github/ @catppuccin/starrynight-devops-team

# =============================================================================
# SPICETIFY INTEGRATION
# =============================================================================

# Spicetify Theme Files
manifest.json @catppuccin/starrynight-maintainers @catppuccin/spicetify-team
theme.js @catppuccin/starrynight-maintainers
install*.sh @catppuccin/starrynight-maintainers
install*.ps1 @catppuccin/starrynight-maintainers

# Spicetify API Integration
src-js/utils/platform/SpicetifyCompat.ts @catppuccin/starrynight-maintainers @catppuccin/spicetify-team
src-js/utils/platform/spicetifyReady.ts @catppuccin/starrynight-maintainers @catppuccin/spicetify-team

# =============================================================================
# SECURITY AND CRITICAL PATHS
# =============================================================================

# Security-sensitive files (require additional review)
package.json @catppuccin/starrynight-maintainers @catppuccin/security-team
package-lock.json @catppuccin/starrynight-maintainers @catppuccin/security-team
.github/workflows/ @catppuccin/starrynight-devops-team @catppuccin/security-team

# Performance-critical paths (require performance team review)
src-js/core/performance/ @catppuccin/starrynight-performance-team @catppuccin/starrynight-maintainers

# =============================================================================
# EMERGENCY OVERRIDES
# =============================================================================

# Critical hotfixes - maintainers can override any review requirements
# Use sparingly and document in PR description
HOTFIX.md @catppuccin/starrynight-maintainers

# =============================================================================
# TEAM DEFINITIONS
# =============================================================================
# NOTE: These teams would be configured in GitHub organization settings
# 
# @catppuccin/starrynight-maintainers - Overall project maintainers
# @catppuccin/starrynight-core-team - Core system architecture
# @catppuccin/starrynight-performance-team - Performance optimization specialists
# @catppuccin/starrynight-visual-team - Visual effects and animations
# @catppuccin/starrynight-audio-team - Audio analysis and music sync
# @catppuccin/starrynight-styling-team - CSS/SCSS theming experts
# @catppuccin/starrynight-graphics-team - WebGL and graphics specialists
# @catppuccin/starrynight-qa-team - Quality assurance and testing
# @catppuccin/starrynight-devops-team - CI/CD and infrastructure
# @catppuccin/starrynight-docs-team - Documentation and guides
# @catppuccin/spicetify-team - Spicetify integration experts
# @catppuccin/security-team - Security review specialists
# @catppuccin/color-maintainers - Catppuccin color palette maintainers
