Repository minipuft/catppuccin-starrynight, changes with the owners that .github/CODEOWNERS names for each.
All owners: @catppuccin/starrynight-maintainers, @catppuccin/starrynight-core-team, @catppuccin/starrynight-performance-team, @catppuccin/starrynight-visual-team, @catppuccin/starrynight-audio-team, @catppuccin/starrynight-graphics-team, @catppuccin/starrynight-styling-team, @catppuccin/color-maintainers, @catppuccin/starrynight-qa-team, @catppuccin/starrynight-devops-team, @catppuccin/starrynight-docs-team, @catppuccin/spicetify-team, @catppuccin/security-team

feat(tokens): Phase 6 preparation - final OKLAB token migration complete
  plans/design-tokens-audit.md
  src/design-tokens/tokens.scss
  src/features/visual-effects/_living_gradients.scss
  user.css
Owners: @catppuccin/starrynight-docs-team, @catppuccin/starrynight-styling-team

feat(tokens)!: Phase 6 complete - remove legacy compatibility layer
  plans/design-tokens-audit.md
  src/design-tokens/tokens.scss
Owners: @catppuccin/starrynight-docs-team, @catppuccin/starrynight-styling-team

feat(settings): complete Phase 6 & 7 - remove all legacy compatibility code
  src-js/config/__tests__/settings-compatibility.test.ts
  src-js/config/index.ts
  src-js/config/settingsProvider.ts
  src-js/config/typedSettingsManager.ts
  src-js/visual/ui/Aberration/AberrationManager.ts
Owners: @catppuccin/starrynight-qa-team, @catppuccin/starrynight-maintainers, @catppuccin/starrynight-visual-team

chore(tokens): remove unused emotion OKLAB attribute tokens (Phase 5 Batch 1)
  plans/phase-5-progress.md
  plans/tier-1-batch-1-removal-list.md
  plans/typescript-token-usage-audit.md
  src/core/dom-selectors/_index.scss
  src/design-tokens/tokens.scss
Owners: @catppuccin/starrynight-docs-team, @catppuccin/starrynight-styling-team

chore(tokens): remove unused genre OKLAB tokens (Phase 5 Batch 2)
  plans/phase-5-progress.md
  plans/tier-1-batch-2-removal-list.md
  src/design-tokens/tokens.scss
Owners: @catppuccin/starrynight-docs-team, @catppuccin/starrynight-styling-team

docs(tokens): mark Phase 5 Tier 1 complete in implementation plan
  plans/phase-5-progress.md
  plans/token-system-implementation-plan.md
Owners: @catppuccin/starrynight-docs-team

chore(tokens): remove 3D system and unused easing tokens (Phase 5 Batch 3)
  plans/phase-5-progress.md
  plans/tier-1-batch-3-removal-list.md
  src/design-tokens/tokens.scss
Owners: @catppuccin/starrynight-docs-team, @catppuccin/starrynight-styling-team

docs(tokens): mark Phase 5 COMPLETE - 20.45% reduction achieved
  plans/token-system-implementation-plan.md
Owners: @catppuccin/starrynight-docs-team

chore(tokens): remove duration aliases and experimental tokens (Tier 2 Batch 1)
  src/design-tokens/tokens.scss
Owners: @catppuccin/starrynight-styling-team

docs(phase-5): document Tier 2 Batch 1 completion (24.17% reduction)
  plans/phase-5-progress.md
Owners: @catppuccin/starrynight-docs-team

chore(tokens): remove unused subsystems (Tier 3 Architectural Consolidation)
  plans/tier-3-architectural-consolidation.md
  src/design-tokens/tokens.scss
Owners: @catppuccin/starrynight-docs-team, @catppuccin/starrynight-styling-team

docs(phase-5): document Tier 3 completion (37.4% reduction achieved)
  plans/phase-5-progress.md
Owners: @catppuccin/starrynight-docs-team

chore(tokens): remove unused feature systems (Tier 4 Feature Cleanup)
  plans/tier-4-feature-cleanup.md
  src/design-tokens/tokens.scss
Owners: @catppuccin/starrynight-docs-team, @catppuccin/starrynight-styling-team

docs(phase-5): update progress tracker with Tier 4 completion
  plans/phase-5-progress.md
Owners: @catppuccin/starrynight-docs-team

docs(phase-6): complete token system documentation and governance
  README.md
  docs/LEGACY_TOKEN_MIGRATION.md
  docs/token-governance.md
  docs/token-system-architecture.md
  docs/token-usage-guide.md
  package.json
  plans/token-system-implementation-plan.md
Owners: @catppuccin/starrynight-docs-team, @catppuccin/starrynight-maintainers, @catppuccin/security-team

feat(color-system): Phase 3-5 consolidation - single-responsibility architecture
  plans/color-system-consolidation.md
  plans/phase3-css-write-analysis.md
  plans/phase4-event-router-analysis.md
  plans/phase5-validation-report.md
  plans/system-naming-analysis.md
  src-js/core/css/ColorStateManager.ts
  src-js/core/events/ColorEventOrchestrator.ts
  src-js/utils/color/MusicalOKLABCoordinator.ts
Owners: @catppuccin/starrynight-docs-team, @catppuccin/starrynight-core-team, @catppuccin/starrynight-maintainers

chore(types): remove unused deprecated type interfaces (Part 1 cleanup)
  plans/deprecated-code-cleanup-analysis.md
  src-js/types/visualEffectTypes.ts
Owners: @catppuccin/starrynight-docs-team, @catppuccin/starrynight-core-team

feat(color-bridge): complete SpicetifyColorBridge refactoring with performance optimization
  docs/API_REFERENCE.md
  docs/MASTER_ARCHITECTURE_OVERVIEW.md
  docs/architecture/decisions/ADR-001-spicetify-color-bridge-refactoring.md
  docs/architecture/sequences/color-flow.md
  plans/spicetify-color-bridge-refactoring.md
  src-js/core/css/ColorStateManager.ts
  src-js/core/lifecycle/AdvancedThemeSystem.ts
  src-js/utils/spicetify/SemanticColorManager.ts
  src-js/utils/spicetify/SpicetifyColorBridge.ts
  tests/integration/SpicetifyColorBridge.equivalence.test.ts
  tests/integration/VisualSystemCoordinator.test.ts
  tests/performance/SpicetifyColorBridge.baseline.test.ts
Owners: @catppuccin/starrynight-docs-team, @catppuccin/starrynight-core-team, @catppuccin/starrynight-maintainers, @catppuccin/starrynight-qa-team

refactor(color): rename DynamicCatppuccinStrategy to DynamicAccentColorStrategy and update references
  plans/documentation-cleanup.md
  plans/phase7-color-system-consolidation-analysis.md
  src-js/core/color/ColorProcessor.ts
  src-js/core/events/ColorEventRouter.ts
  src-js/utils/spicetify/SpicetifyColorBridge.ts
  src-js/visual/color/ThemeColorController.ts
  src-js/visual/strategies/ColorStrategySelector.ts
  theme.js
  tsconfig.tsbuildinfo
  user.css
Owners: @catppuccin/starrynight-docs-team, @catppuccin/starrynight-core-team, @catppuccin/starrynight-maintainers, @catppuccin/starrynight-visual-team, @catppuccin/starrynight-styling-team

refactor(architecture): rename ServiceCompositionBase to SystemServiceBridge and update documentation
  CLAUDE.md
  docs/MASTER_ARCHITECTURE_OVERVIEW.md
  plans/base-class-migration-tracker.md
  plans/debug-system-optimization-plan.md
  plans/documentation-cleanup.md
  src-js/core/integration/SidebarSystemsIntegration.ts
  src-js/core/services/SystemServiceBridge.ts
  src-js/visual/effects/AnimationEffectsController.ts
  src-js/visual/effects/HeaderVisualEffectsController.ts
  src-js/visual/music/MusicSyncVisualEffects.ts
  src-js/visual/ui/InteractionTrackingSystem.ts
Owners: @catppuccin/starrynight-maintainers, @catppuccin/starrynight-docs-team, @catppuccin/starrynight-core-team, @catppuccin/starrynight-visual-team

feat(architecture): complete Phase 2.2 Tier 1 migration and begin Phase 2.3 Tier 2
  docs/ARCHITECTURE.md
  docs/BUILD_AND_DEPLOY.md
  docs/COLOR_AND_AUDIO.md
  docs/STYLING_AND_TOKENS.md
  docs/architecture/EXAMPLES.md
  docs/architecture/MIGRATION_GUIDE.md
  docs/architecture/PERFORMANCE_GUIDE.md
  docs/architecture/decisions/ADR-001-spicetify-color-bridge-refactoring.md
  docs/architecture/sequences/color-flow.md
  docs/development/DIRECTORY_STRUCTURE.md
  docs/legacy/ADVANCED_THEME_SYSTEM_GUIDE.md
  docs/legacy/API_REFERENCE.md
  docs/legacy/AUDIO_INTEGRATION_GUIDE.md
  docs/legacy/BACKGROUND_SYSTEMS_GUIDE.md
  docs/legacy/DYNAMIC_VISUAL_EFFECTS_GUIDE.md
  docs/legacy/DragAndDrop/DRAG_AND_DROP_OVERVIEW.md
  docs/legacy/DragAndDrop/DRAG_CARTOGRAPHER.md
  docs/legacy/DragAndDrop/ENHANCED_DRAG_PREVIEW.md
  docs/legacy/DragAndDrop/QUICK_ADD_RADIAL_MENU.md
  docs/legacy/FACADE_PATTERN_GUIDE.md
  docs/legacy/PERFORMANCE_ARCHITECTURE_GUIDE.md
  docs/legacy/VISUAL_SYSTEMS_REFERENCE.md
  docs/legacy/development/AI_FRAMEWORK.md
  docs/legacy/development/PROJECT_RULES.md
  docs/legacy/oklab/OKLAB_COLOR_MIGRATION_GUIDE.md
  docs/legacy/oklab/OKLAB_COLOR_PROCESSING_GUIDE.md
  docs/legacy/oklab/OKLAB_VARIABLE_NAMING_CONVENTION.md
  docs/legacy/tokens/LEGACY_TOKEN_MIGRATION.md
  docs/legacy/tokens/token-governance.md
  docs/legacy/tokens/token-system-architecture.md
  docs/legacy/tokens/token-usage-guide.md
  plans/base-class-migration-tracker.md
  plans/color-docs-combined.md
  plans/documentation-cleanup.md
  src-js/visual/effects/DepthLayerController.ts
  src-js/visual/effects/UIVisualEffectsController.ts
  src-js/visual/ui/IridescentShimmerEffectsSystem.ts
  src-js/visual/ui/SidebarVisualEffectsSystem.ts
  theme.js
  tsconfig.tsbuildinfo
Owners: @catppuccin/starrynight-docs-team, @catppuccin/starrynight-visual-team, @catppuccin/starrynight-maintainers

docs: streamline documentation set
  README.md
  docs/BUILD_SYSTEM_GUIDE.md
  docs/COLOR_AND_AUDIO.md
  docs/CONTRIBUTING_GUIDE.md
  docs/GRACEFUL_DEGRADATION_GUIDE.md
  docs/MODERNIZED_SYSTEMS_GUIDE.md
  docs/MODULE_BOUNDARIES.md
  docs/PERFORMANCE_OPTIMIZATION_GUIDELINES.md
  docs/README.md
  docs/STYLING_AND_TOKENS.md
  docs/TROUBLESHOOTING_GUIDE.md
  docs/VISUAL_EFFECTS_COORDINATION.md
  docs/core_systems/SPOTIFY_DOM_SELECTORS.md
  docs/legacy/2025-10-06-legacy-archive/BUILD_SYSTEM_GUIDE.md
  docs/legacy/2025-10-06-legacy-archive/CI_CD/CI_CD_ARCHITECTURE.md
  docs/legacy/2025-10-06-legacy-archive/CI_CD/CI_CD_PIPELINE.md
  docs/legacy/2025-10-06-legacy-archive/CI_CD/CI_CD_QUICK_REFERENCE.md
  docs/legacy/2025-10-06-legacy-archive/CI_CD/CI_CD_TROUBLESHOOTING.md
  docs/legacy/2025-10-06-legacy-archive/CONTRIBUTING_GUIDE.md
  docs/legacy/2025-10-06-legacy-archive/CSS_OPTIMIZATION_GUIDE.md
  docs/legacy/2025-10-06-legacy-archive/CSS_OPTIMIZATION_SUMMARY.md
  docs/legacy/2025-10-06-legacy-archive/DEPENDENCY_ANALYSIS.md
  docs/legacy/2025-10-06-legacy-archive/DEVELOPER_MIGRATION_GUIDE.md
  docs/legacy/2025-10-06-legacy-archive/MASTER_ARCHITECTURE_OVERVIEW.md
  docs/legacy/2025-10-06-legacy-archive/MODERNIZED_SYSTEMS_GUIDE.md
  docs/legacy/2025-10-06-legacy-archive/MODULE_BOUNDARIES.md
  docs/legacy/2025-10-06-legacy-archive/MULTI_AGENT_WORKBENCH_GUIDE.md
  docs/legacy/2025-10-06-legacy-archive/PHASE4_COMPLETION_SUMMARY.md
  docs/legacy/2025-10-06-legacy-archive/PHASE_4_ARCHITECTURAL_BOUNDARIES.md
  docs/legacy/2025-10-06-legacy-archive/README_CI_CD.md
  docs/legacy/2025-10-06-legacy-archive/SETTINGS_MIGRATION_GUIDE.md
  docs/legacy/2025-10-06-legacy-archive/TROUBLESHOOTING_GUIDE.md
  docs/spotify/DOM_TARGETTING/SPOTIFY_DOM_SELECTORS.md
  docs/spotify/DOM_TARGETTING/SPOTIFY_DOM_TARGETING.md
Owners: @catppuccin/starrynight-docs-team

feat: migrate Phase A1 systems to service bridge
  plans/color-docs-combined.md
  plans/current/base-class-migration-tracker.md
  plans/current/debug-system-optimization-plan.md
  plans/current/performance-consolidation-progress.md
  plans/current/service-architecture-master-plan.md
  plans/current/theme-lifecycle-coordinator-refactoring.md
  plans/current/visual-alignment-notes.md
  plans/documentation-cleanup.md
  src-js/audio/ColorHarmonyEngine.ts
  src-js/audio/GradientDirectionalFlowSystem.ts
  src-js/audio/TunnelVisualizationSystem.ts
  src-js/core/integration/SystemIntegrationCoordinator.ts
  src-js/core/services/CoreServiceProviders.ts
  src-js/core/services/SystemServices.ts
  src-js/visual/background/WebGLRenderer.ts
  src-js/visual/backgrounds/DepthLayeredGradientSystem.ts
  src-js/visual/backgrounds/FluidGradientBackgroundSystem.ts
  src-js/visual/effects/UnifiedParticleSystem.ts
  src-js/visual/effects/VisualEffectsCoordinator.ts
  src-js/visual/strategies/DynamicGradientStrategy.ts
  theme.js
  tsconfig.tsbuildinfo
Owners: @catppuccin/starrynight-docs-team, @catppuccin/starrynight-audio-team, @catppuccin/starrynight-core-team, @catppuccin/starrynight-visual-team, @catppuccin/starrynight-maintainers

refactor(architecture): complete BaseVisualSystem removal and service migration
  logs/.983059ace52a2f43236c77d7db2c846835f6af7c-audit.json
  plans/current/base-class-migration-tracker.md
  plans/current/service-architecture-master-plan.md
  plans/future/debug-system-optimization-plan.md
  plans/future/theme-lifecycle-coordinator-refactoring.md
  src-js/audio/GradientDirectionalFlowSystem.ts
  src-js/audio/TunnelVisualizationSystem.ts
  src-js/core/integration/SystemIntegrationCoordinator.ts
  src-js/core/services/CoreServiceProviders.ts
  src-js/core/services/SystemServiceBridge.ts
  src-js/core/services/SystemServices.ts
  src-js/visual/base/BaseVisualSystem.ts
  theme.js
  tsconfig.tsbuildinfo
Owners: @catppuccin/starrynight-maintainers, @catppuccin/starrynight-docs-team, @catppuccin/starrynight-audio-team, @catppuccin/starrynight-core-team, @catppuccin/starrynight-visual-team

refactor: rename core system files for better clarity
  src-js/core/performance/DeviceTierAnalyzer.ts
  src-js/core/webgl/WebGLQualityCoordinator.ts
  src-js/visual/effects/ParticleEffectSystem.ts
Owners: @catppuccin/starrynight-performance-team, @catppuccin/starrynight-maintainers, @catppuccin/starrynight-core-team, @catppuccin/starrynight-visual-team

docs: update documentation and clean up planning artifacts
  AGENTS.domain.md
  AGENTS.local.md
  AGENTS.md
  REFACTORING-SUMMARY.md
  docs/ARCHITECTURE.md
  docs/GRACEFUL_DEGRADATION_GUIDE.md
  plans/current/debug-system-optimization-plan.md
  plans/current/performance-consolidation-progress.md
  plans/current/service-architecture-master-plan.md
  plans/current/theme-lifecycle-coordinator-refactoring.md
  plans/current/visual-alignment-notes.md
  plans/future/color-diagnostics-testing-plan.md
  plans/future/debug-system-optimization-plan.md
  plans/future/theme-lifecycle-coordinator-refactoring.md
Owners: @catppuccin/starrynight-docs-team

feat: enhance audio synchronization and color harmony systems
  src-js/audio/ColorHarmonyEngine.ts
  src-js/audio/MusicSyncService.ts
  src-js/audio/TunnelVisualizationSystem.ts
  tests/integration/color/ColorDiagnosticsService.integration.test.ts
  tests/unit/audio/ColorHarmonyEngine-CSSVariables.test.ts
  tests/unit/audio/ColorHarmonyEngine.test.ts
Owners: @catppuccin/starrynight-audio-team, @catppuccin/starrynight-qa-team

refactor: enhance core system architecture and integration patterns
  src-js/core/creation/StrategyBasedFactory.ts
  src-js/core/creation/SystemCreationStrategies.ts
  src-js/core/integration/InfrastructureSystemCoordinator.ts
  src-js/core/integration/SystemIntegrationCoordinator.ts
  src-js/core/lifecycle/ThemeLifecycleCoordinator.ts
  src-js/core/services/CoreServiceProviders.ts
Owners: @catppuccin/starrynight-core-team

perf: optimize performance monitoring and WebGL systems
  src-js/core/performance/DeviceCapabilityDetector.ts
  src-js/core/performance/DeviceTierAnalyzer.ts
  src-js/core/performance/GradientPerformanceOptimizer.ts
  src-js/core/performance/PerformanceMonitor.ts
  src-js/core/performance/SimplePerformanceCoordinator.ts
  src-js/core/performance/SimpleTierBasedPerformanceSystem.ts
  src-js/core/webgl/WebGLQualityCoordinator.ts
  src-js/core/webgl/WebGLSystemInterface.ts
  src-js/core/webgl/WebGLSystemsIntegration.ts
Owners: @catppuccin/starrynight-performance-team, @catppuccin/starrynight-maintainers, @catppuccin/starrynight-core-team

feat: enhance UI components and settings management
  src-js/config/settingsSchema.ts
  src-js/ui/components/SettingsField.ts
  src-js/ui/components/SettingsSection.tsx
  src-js/ui/components/StarryNightSettings.ts
  src-js/ui/components/VariantText.tsx
  src-js/ui/interactions/DragPreviewManager.ts
  src-js/ui/interactions/PlaylistQuickAddMenu.ts
  src-js/ui/interactions/SidebarCloneOverlay.ts
Owners: @catppuccin/starrynight-maintainers

refactor: enhance CSS and visual effects systems
  src-js/core/css/CSSVariableSchema.ts
  src-js/core/css/CSSVariableWriter.ts
  src-js/core/css/ColorStateManager.ts
  src-js/core/events/ColorEventRouter.ts
  src-js/visual/effects/ParticleEffectSystem.ts
  src-js/visual/effects/VisualEffectsCoordinator.ts
  src-js/visual/strategies/ColorStrategyRegistry.ts
  src-js/visual/strategies/ColorStrategySelector.ts
  src-js/visual/strategies/WebGLGradientStrategy.ts
Owners: @catppuccin/starrynight-core-team, @catppuccin/starrynight-visual-team

feat: enhance visual background and UI systems
  src-js/utils/color/OKLABColorProcessor.ts
  src-js/utils/spicetify/SpicetifyColorBridge.ts
  src-js/visual/backbone/GradientConductor.ts
  src-js/visual/background/WebGLRenderer.ts
  src-js/visual/backgrounds/FluidGradientBackgroundSystem.ts
  src-js/visual/ui/AudioVisualController.ts
  src-js/visual/ui/IridescentShimmerEffectsSystem.ts
  src-js/visual/ui/SidebarVisualEffectsSystem.ts
Owners: @catppuccin/starrynight-maintainers, @catppuccin/starrynight-visual-team

style: update SCSS styling and design tokens
  src/core/_main.scss
  src/design-tokens/tokens.scss
  src/features/visual-effects/_living_gradients.scss
  src/features/visual-effects/_translucent_overlays.scss
  src/layout/_main_view_container.scss
Owners: @catppuccin/starrynight-styling-team

refactor: enhance core systems and utilities
  src-js/core/animation/AnimationFrameCoordinator.ts
  src-js/core/lifecycle/ProgressiveAPILoader.ts
  src-js/debug/DragCartographer.ts
  src-js/theme.entry.ts
  src-js/utils/animation/flipSpring.ts
  src-js/utils/core/ThemeUtilities.ts
  src-js/utils/dom/domCache.ts
Owners: @catppuccin/starrynight-visual-team, @catppuccin/starrynight-core-team, @catppuccin/starrynight-maintainers

refactor: update system creation type definitions
  src-js/types/systemCreation.ts
  src-js/types/systemCreationStrategy.ts
Owners: @catppuccin/starrynight-core-team

build: update compiled theme assets
  theme.js
  tsconfig.tsbuildinfo
  user.css
Owners: @catppuccin/starrynight-maintainers, @catppuccin/starrynight-styling-team

test: update test files and clean up deprecated tests
  logs/.983059ace52a2f43236c77d7db2c846835f6af7c-audit.json
  src-js/config/__tests__/settings-compatibility.test.ts
  src-js/debug/WebGLDebugCore.ts
  tests/README.md
  tests/integration/CoreOrchestration.test.ts
  tests/integration/SharedDependencies.test.ts
  tests/integration/SpicetifyColorBridge.equivalence.test.ts
  tests/integration/SystemCoordinator.test.ts
  tests/integration/UserExperience.test.ts
  tests/integration/VisualEffectsIntegration.test.ts
  tests/integration/orchestration/OrchestrationValidation.test.ts
  tests/integration/visual-effects-integration.test.ts
  tests/unit/visual/VisualIntegrationBridge.test.ts
Owners: @catppuccin/starrynight-maintainers, @catppuccin/starrynight-qa-team, @catppuccin/starrynight-docs-team

feat: add new components and system features
  GEMINI.md
  QWEN.md
  plans/current/settings-system-refactoring-guide.md
  plans/current/test-suite-modernization-plan.md
  plans/image.png
  src-js/config/spicetifySettingsIntegration.ts
  src-js/types/renderingModes.ts
  src-js/utils/migration/performanceModeMigration.ts
  src-js/utils/platform/gradientSystemReady.ts
  src-js/visual/backgrounds/RenderingModeSelector.ts
  src-js/visual/strategies/CSSGradientBackend.ts
  src-js/visual/strategies/WebGLGradientBackendAdapter.ts
  src/core/_critical_dark_theme.scss
  tests/helpers/mockFactories.ts
  tests/helpers/testUtilities.ts
  tests/integration/__snapshots__/SpicetifyColorBridge.equivalence.test.ts.snap
Owners: @catppuccin/starrynight-docs-team, @catppuccin/starrynight-maintainers, @catppuccin/starrynight-core-team, @catppuccin/starrynight-visual-team, @catppuccin/starrynight-styling-team, @catppuccin/starrynight-qa-team

feat(phase-4d): add semantic roles + dynamic lighting variants
  plans/current/phase-4d-lighting-architecture.md
  src-js/core/events/EventBus.ts
  src-js/core/lifecycle/ThemeLifecycleCoordinator.ts
  src-js/visual/effects/VisualEffectsCoordinator.ts
  src/core/_main.scss
  src/core/_mixins.scss
  src/design-tokens/lighting-variants.scss
  src/design-tokens/tokens.scss
  src/features/visual-effects/_crystalline_glassmorphism.scss
  src/features/visual-effects/_living_gradients.scss
Owners: @catppuccin/starrynight-docs-team, @catppuccin/starrynight-core-team, @catppuccin/starrynight-visual-team, @catppuccin/starrynight-styling-team

Modernize visual integration and infrastructure coordinator tests
  plans/current/test-suite-modernization-plan.md
  tests/helpers/mockFactories.ts
  tests/integration/VisualEffectsIntegration.test.ts
  tests/unit/core/InfrastructureSystemCoordinator.test.ts
  tests/unit/core/UnifiedSystemIntegrationFacade.test.ts
Owners: @catppuccin/starrynight-docs-team, @catppuccin/starrynight-qa-team

.github/CODEOWNERS:

# =============================================================================
# ðŸŒŒ Catppuccin StarryNight - Code Ownership & Review Requirements
# =============================================================================
# This file defines code ownership and review requirements for the repository.
# GitHub will automatically request reviews from code owners when PRs are opened.

# =============================================================================
# GLOBAL OWNERSHIP
# =============================================================================
# All files require review unless overridden below
* @catppuccin/starrynight-maintainers

# =============================================================================
# CORE SYSTEM OWNERSHIP
# =============================================================================

# TypeScript Configuration and Build System
tsconfig.json @catppuccin/starrynight-maintainers
tsconfig.*.json @catppuccin/starrynight-maintainers
package.json @catppuccin/starrynight-maintainers
package-lock.json @catppuccin/starrynight-maintainers
jest.config.js @catppuccin/starrynight-maintainers
*.config.js @catppuccin/starrynight-maintainers

# Core System Architecture
src-js/core/ @catppuccin/starrynight-core-team
src-js/core/lifecycle/ @catppuccin/starrynight-core-team
src-js/core/performance/ @catppuccin/starrynight-performance-team
src-js/types/ @catppuccin/starrynight-core-team

# Performance-Critical Systems
src-js/core/performance/PerformanceAnalyzer.ts @catppuccin/starrynight-performance-team
src-js/core/performance/PerformanceBudgetManager.ts @catppuccin/starrynight-performance-team
src-js/core/performance/CSSVariableBatcher.ts @catppuccin/starrynight-performance-team
src-js/core/performance/OptimizedUnifiedCSSConsciousnessController.ts @catppuccin/starrynight-performance-team

# =============================================================================
# VISUAL SYSTEMS OWNERSHIP
# =============================================================================

# Visual System Architecture
src-js/visual/ @catppuccin/starrynight-visual-team
src-js/visual/base/ @catppuccin/starrynight-visual-team
src-js/visual/backgrounds/ @catppuccin/starrynight-visual-team

# Animation and Effects
src-js/visual/ui-effects/ @catppuccin/starrynight-visual-team
src-js/core/animation/ @catppuccin/starrynight-visual-team
src-js/visual/beat-sync/ @catppuccin/starrynight-audio-team @catppuccin/starrynight-visual-team

# WebGL and Graphics
src-js/visual/backgrounds/WebGL*.ts @catppuccin/starrynight-graphics-team
src-js/utils/graphics/ @catppuccin/starrynight-graphics-team
src-js/assets/shaders/ @catppuccin/starrynight-graphics-team

# =============================================================================
# AUDIO SYSTEMS OWNERSHIP
# =============================================================================

# Audio Analysis and Music Sync
src-js/audio/ @catppuccin/starrynight-audio-team
src-js/services/MusicSyncService.ts @catppuccin/starrynight-audio-team

# =============================================================================
# STYLING AND THEMING OWNERSHIP
# =============================================================================

# SCSS and CSS Architecture
src/ @catppuccin/starrynight-styling-team
src/core/ @catppuccin/starrynight-styling-team
src/design-tokens/ @catppuccin/starrynight-styling-team
app.scss @catppuccin/starrynight-styling-team
user.css @catppuccin/starrynight-styling-team

# Catppuccin Color Integration
src/core/_variables.scss @catppuccin/starrynight-styling-team @catppuccin/color-maintainers
color.ini @catppuccin/starrynight-styling-team @catppuccin/color-maintainers

# =============================================================================
# TESTING AND QUALITY ASSURANCE
# =============================================================================

# Test Files
tests/ @catppuccin/starrynight-qa-team
src-js/tests/ @catppuccin/starrynight-qa-team
*.test.ts @catppuccin/starrynight-qa-team
*.test.tsx @catppuccin/starrynight-qa-team
*.spec.ts @catppuccin/starrynight-qa-team

# Quality Assurance Tools
.github/workflows/ @catppuccin/starrynight-devops-team
.git/hooks/ @catppuccin/starrynight-devops-team
scripts/ @catppuccin/starrynight-devops-team

# =============================================================================
# DOCUMENTATION AND GUIDES
# =============================================================================

# Documentation
docs/ @catppuccin/starrynight-docs-team
README.md @catppuccin/starrynight-docs-team
CHANGELOG.md @catppuccin/starrynight-docs-team
*.md @catppuccin/starrynight-docs-team

# Developer Experience
CLAUDE.md @catppuccin/starrynight-maintainers
.github/ @catppuccin/starrynight-devops-team

# =============================================================================
# SPICETIFY INTEGRATION
# =============================================================================

# Spicetify Theme Files
manifest.json @catppuccin/starrynight-maintainers @catppuccin/spicetify-team
theme.js @catppuccin/starrynight-maintainers
install*.sh @catppuccin/starrynight-maintainers
install*.ps1 @catppuccin/starrynight-maintainers

# Spicetify API Integration
src-js/utils/platform/SpicetifyCompat.ts @catppuccin/starrynight-maintainers @catppuccin/spicetify-team
src-js/utils/platform/spicetifyReady.ts @catppuccin/starrynight-maintainers @catppuccin/spicetify-team

# =============================================================================
# SECURITY AND CRITICAL PATHS
# =============================================================================

# Security-sensitive files (require additional review)
package.json @catppuccin/starrynight-maintainers @catppuccin/security-team
package-lock.json @catppuccin/starrynight-maintainers @catppuccin/security-team
.github/workflows/ @catppuccin/starrynight-devops-team @catppuccin/security-team

# Performance-critical paths (require performance team review)
src-js/core/performance/ @catppuccin/starrynight-performance-team @catppuccin/starrynight-maintainers

# =============================================================================
# EMERGENCY OVERRIDES
# =============================================================================

# Critical hotfixes - maintainers can override any review requirements
# Use sparingly and document in PR description
HOTFIX.md @catppuccin/starrynight-maintainers

# =============================================================================
# TEAM DEFINITIONS
# =============================================================================
# NOTE: These teams would be configured in GitHub organization settings
# 
# @catppuccin/starrynight-maintainers - Overall project maintainers
# @catppuccin/starrynight-core-team - Core system architecture
# @catppuccin/starrynight-performance-team - Performance optimization specialists
# @catppuccin/starrynight-visual-team - Visual effects and animations
# @catppuccin/starrynight-audio-team - Audio analysis and music sync
# @catppuccin/starrynight-styling-team - CSS/SCSS theming experts
# @catppuccin/starrynight-graphics-team - WebGL and graphics specialists
# @catppuccin/starrynight-qa-team - Quality assurance and testing
# @catppuccin/starrynight-devops-team - CI/CD and infrastructure
# @catppuccin/starrynight-docs-team - Documentation and guides
# @catppuccin/spicetify-team - Spicetify integration experts
# @catppuccin/security-team - Security review specialists
# @catppuccin/color-maintainers - Catppuccin color palette maintainers
